*{
    margin: 0;
    padding: 0;
}

/* Nav Bar List */
ul li a{
    text-decoration: none;
    color: white;
}
ul li{
    list-style: none;
}
ul{
    display: flex;
}
li{
    padding: 25px;
    font-size: 1.3rem;
}

ul li a:hover{
    background-color: white;
    color: black;
    border-radius: 11px;
}

/* bars */

.bars{
    height: 75px;
    color: white;
    background-color: black;
}


/* Home */
#home{
    height: 431px;
}
#home::before{
    content: "";
    background: url(/img.jpg) no-repeat center center/cover;
    position: absolute;
    height: 601px;
    width: 100%;
    top: 0px;
    left: 0px;
    z-index: -1;
    opacity: 7.9;
}


#logo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 101px;
}

.heading{
    margin: 0px 151px;
}

/* About */
.self{
    background-color: rgb(226, 193, 178);
    /* background-image: linear-gradient(red, yellow); */
    /* height: 85px; */
    padding: 25px;
    border-radius: 6px;
    margin: 0px 151px;
}

.text{
    background-color: white;
    margin: 10px 150px;
    border-radius: 6px;
    font-size: 1.1rem;
    padding: 5px;
}


html{
    scroll-behavior: smooth;
}






/* Fixed */
h1{
    font-size: 2.3rem;
}

.self1{
    background-color: rgb(226, 193, 178);
    /* background-image: linear-gradient(red, yellow); */
    /* height: 85px; */
    padding: 25px;
    margin: 0px 151px;
    border-radius: 6px;
    display: flex;
}


.text2{
    background-color: rgb(189, 29, 29);
    margin: 10px 21px 0px 150px;
    border-radius: 6px;
    font-size: 1.1rem;
    height: 401px;
    padding: 5px;
}

.training{
    /* height: 155px; */
    width: 555px;
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    margin: 10px;
}

#trainingcolor{
    color: rgb(110, 19, 133);
}

#institute{
    margin-left: 421px;
}

.exp_section{
    padding: 15px;
}


